/* hero background image */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

li{
    font-weight: bold;
}

.bgimage {
    height:100vh;
    background: url('shot-by-cerqueira-0o_GEzyargo-unsplash.jpg');
    background-size:cover;
    position:relative;
}
.string {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: move 4s infinite;
  }
  
  .greeting {
    position: relative;
    top: 8.6vmin;
    animation: white-out 5s infinite;
  }
  
  .closure::after {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 40vmin;
    background:transparent;
    transform: translate(-45vmin, -24.5vmin);
  }
  
  .closure::before {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 40vmin;
    background: transparent;
    transform: translate(-40vmin, 5vmin);
  }
  
  .en {
    color: #fa8231;
  }
  
  .es {
    color: white;
  }
  
  .de {
    color: #c678dd;
  }
  
  .it {
    color: #a9b0bd;
  }
  
  @keyframes move {
    25% {
      transform: translatey(-5.8vmin);
      opacity: 1;
    }
    50% {
      transform: translatey(-11vmin);
    }
    75% {
      transform: translatey(-16.5vmin);
    }
  }
/* text css above hero image*/
.hero_title {
  

    font-size: 6rem;
}

.hero-text {
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(215, 210, 210);
}


.namediv,p { 
    
    font-size: 18px;
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  }
  .namediv {
    color: #e5e5e5;
    font-size: 3rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:4rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 6s infinite;
  }
  
  .first div {
    background-color:#20a7d8;
  }
  .second div {
    background-color:#CD921E;
  }
  .third div{
    background-color:#cd1ea4;
    margin-bottom: 50%;
  }
  

  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  


.imageAboutPage {
    width: 100%;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}
.navbar,li{
    display: inline-block;

}
.navbarScroll.navbarDark {
    background-color: black;
}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}
/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}